{% extends 'base.html'%}
{% block head_title %}
{{block.super}}|Cambia-Password
{% endblock head_title %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-lg-3 col-7 text-center">
        {% if validlink%}
        <h5>Inserisci e conferma la nuova Password</h6>
        <form class=""  method="post">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" class="btn btn-outline-info" value="Cambia Password">
        </form>
        {% else%}
        <p>Il link non è più valido ripeti dinuovo il procedimmento.Grazie.</p>
        {% endif%}
    </div>
</div>
{% endblock %}
