{% extends 'base.html'%}
{% block head_title %}
{{block.super}}|Cambia-Password
{% endblock head_title %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-lg-3 col-7 text-center">
        <h4>Inserisci la tua Mail</h4>
        <form class=""  method="post">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" class="btn btn-outline-info" value="Cambia Password">
        </form>
    </div>
</div>
{% endblock %}
